<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>201152048872-3no3qu85qjm716si3391eascrji98v7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.201152048872-3no3qu85qjm716si3391eascrji98v7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCi697QgPRQCZwWVxcHxq4CvcQysl16VMk</string>
	<key>GCM_SENDER_ID</key>
	<string>201152048872</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.valeriia-ivanenko.CatsAndModules-ValeriiaIvanenko</string>
	<key>PROJECT_ID</key>
	<string>catsandmodules-104ca</string>
	<key>STORAGE_BUCKET</key>
	<string>catsandmodules-104ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:201152048872:ios:b85c506090b02181b7235d</string>
</dict>
</plist>
